*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    object-position: center;
}
.text{
background-color: rgba(red, green, blue, alpha);
height: 100%;
backdrop-filter: blur(3px);
padding: 2rem;
display: flex;
align-items: center;
justify-content: space-around
}
.text div{
    width: 50%;
    line-height: 20px;

}
.text h1{
    margin-bottom: 20px;
    color: aqua;
}
.text button{
    padding: 7px 12px;
    background:transparent ;
    border: solid 1px white;
    color: white;
    border-radius: 5px;
}
.rr{
    color: aqua;
}
header{
    display: flex;
    padding: 10px;
justify-content: space-between;
background-color: greenyellow;
flex-direction: row-reverse;
}
.fa{
margin-left: 15px;
font-size: 38px;
}
a{
    color: white;
}
icons{
    font-size: 38px;
}